* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.775),
    rgba(0, 0, 255, 0.71)
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
h2 {
  color: #fff;
  font-size: 4vw;
}
.prompt {
  background-color: transparent;
  padding: 5px;
  width: 45vw;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
a {
  font-size: 2vw;
  padding: 5px;
  color: #fff;
  display: none;
}
input,
button {
  padding: 10px;
  border: none;
  font-size: 1vw;
}
input {
  width: 75%;
  background-color: transparent;
  outline: none;
  color: #fff;
}
::placeholder {
  color: #fff;
}
button {
  cursor: pointer;
  background-color: #fff;
  color: blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 20%;
}
button:hover {
  background-color: #e4dbdb;
}
.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.images div {
  width: 25vw;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 3px solid #fff;
}
.images div img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  input,
  button {
    font-size: 3vw;
    font-weight: bolder;
  }
  .prompt {
    width: 65vw;
  }
  h2 {
    color: #fff;
    font-size: 7vw;
  }
  .images div {
    width: 45vw;
  }
  button {
    width: 30%;
  }
}

